.navbar-default{
    background-color: #999999;
    border: 2px solid black;

    border-radius: 0px;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a{
    color: black;
}

div#bs-example-navbar-collapse-1 {
    float: right;
}

.ham_items {
    float: left;
}

h3.menu_heading {
    margin-right: 20px;
}

a:hover{
    color: black;
    text-decoration: none;
}

/* Media */
@media (max-width:767px) {
    div#bs-example-navbar-collapse-1{
        float: none;
        text-align: center;

        background-color: white;
    }

    .ham_items{
        float: none;
    }
}